Hola, la respuesta a todo es <%= 21 * 2 %>

<h1>Bienvenido a PatoBook BETA</h1>

<p>Registrate:<p>

<%= render partial: 'errors' %>
<%= render partial: 'signup_form' %>
<%= render partial: 'login_form' %>